body, html {
    background-color: rgb(20, 31, 66);
    color: white;

    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Carter One", "Times New Roman", Times, serif;
    font-size: 18px;
    color: white;
}

h2 {
    font-family: "Carter One", "Times New Roman", Times, serif;
    font-size: 30px;
}

footer {
    text-align: center;
    font-size: 12px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 90vw;
    height: 25vh;
    padding: 10px;
    resize: none;
    font-size: 14px;
    font-family: "Carter One", "Times New Roman", Times, serif;
    
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
}

button {
    display: block;
    margin-top: 20px;
    margin-left: 86px;
    font-family: "Carter One", "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    width: 10vw;
    height: 2vw;
}
/*------------------------------------------- ALL CSS INVOLVING THE PAGE-TOP ID -------------------------------------------*/
#page-top {
    background-image: linear-gradient(navy, black);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 1px;
}

#page-top h1 {
        color: white;
        font-family: "Carter One", "Times New Roman", Times, serif;
        font-size: 50px;
        font-weight: bold;
        padding-bottom: 0px;
}

#page-top p {
        text-decoration: underline;
        font-family: "Carter One", "Times New Roman", Times, serif;
        font-size: 22px;
        padding-top: 0px;
}
/*------------------------------------------- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -------------------------------------------*/


#under-header-menu {
    background-image: linear-gradient(navy, black);
    font-family: "Carter One", "Times New Roman", Times, serif;
    color: white;
    text-align: center;
    word-spacing: 200px;
    font-size: 22px;
    
}

#line {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

#text-field-header {
    text-align: center;
}

/*------------------------------------------- ALL CSS INVOLVING THE EMPTY-DIV ID -------------------------------------------*/
#empty-div {
    display: flex;
    align-items: left;
}

#empty-div p {
    padding-left: 200px;
    padding-top: 8px;
}
/*------------------------------------------- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -------------------------------------------*/
